{% extends 'layout.html' %}

{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}"> {{msg}} </div>
{% endfor %}
<link type="text/css" href="{{ url_for('static', filename='css/registry.css')}}" rel="stylesheet" />

<h2>Удаление профиля</h2>

<div class="user-message"><h3>Вы вошли как {{ user_nik }}</h3></div>

<!-- Убираем сообщение о подтверждении из шаблона -->
<p class="warning-message" style="color: red; font-weight: bold; display: none;" id="confirm-message">
    Вы уверены, что хотите удалить свой профиль? Все связанные данные будут потеряны!</p>

<p></p>
<form method="POST" action="{{ url_for('delete_account') }}" class="form-registry" onsubmit="return confirmDeletion();">
    <input type="submit" value="Удалить аккаунт" style="color: red;">
</form>

<script>
    function confirmDeletion() {
        // Показываем предупреждающее сообщение перед отправкой формы
        const confirmMessage = document.getElementById('confirm-message');
        confirmMessage.style.display = 'block'; // Показываем сообщение

        // Возвращаем подтверждение от пользователя
        return confirm("Вы уверены, что хотите удалить свой аккаунт? Все связанные данные будут потеряны!");
    }
</script>

{% endblock %}

