{% extends 'layout.html' %}

{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}"> {{msg}} </div>
{% endfor %}
<link type="text/css" href="{{ url_for('static', filename='css/registry.css')}}" rel="stylesheet" />

<div style="text-align: center; color: #0000FF">
    <h2><i>Техническая поддержка компании "Бухгалтер" приветствует Вас!</i></h2>
</div>
<div style="text-align: center; color: #800080">
    <h3>Будем рады помочь Вам в установке и настройке программного обеспечения</h3>
</div>
<div style="text-align: center; color: #0000CD">
    {% if user %}
        <h3>Вы авторизованы как {{ user.nik }}</h3>
    {% else %}
        <h3>Для того чтобы оставить сообщение, Вам необходимо авторизоваться:</h3>
</div>

    <form action="/index" method="post" class="form-registry">
        <p><label>Ваш "Ник"</label> <input type="text" name="nik" value="" required> </p>
        <p><label>Пароль:</label><input type="password" name="psw" value="" required> </p>
        <p><input type="submit" value="Войти"></p>
    </form>
    {% endif %}


{% endblock %}

